*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'mm';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: m;
    src: url(../assets/fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2);
}

@font-face {
    font-family: mm;
    src: url(../assets/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2);
}